/* TABLET */
@media (max-width: 1024px) {
  .header {
    justify-content: center;
    margin-right: 0;
  }

  .header__image {
    top: -10px;
    right: 16px;
    max-width: 25vw;
  }

  .main,
  .things {
    width: 90%;
  }

  .habit {
    padding: 8px 20px;
  }

  .habit__check {
    width: 60px;
    height: 30px;
  }

  .reading {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

/* TABLET */
@media (max-width: 1380px) {


  .header__image {
    display: none;
  }

}

/*  MOBILE  */
@media (max-width: 600px) {
  body {
    height: auto;
    overflow-y: auto;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .header__progress {
    font-size: 1.2rem;
  }

   .header__image {
    position: static;
    width: 120px;
    margin: 12px 0;
    display: block;
  }

  .header__title {
    font-size: 2.5rem;
  }

  .main,
  .things {
    width: 95%;
  }

  .habit {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .habit__title {
    margin-bottom: 8px;
  }

  .habits__list {
    display: flex;
    align-items: center;
  }

  .habit__checks {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .habit__check {
    width: 45px;
    height: 30px;
  }

  .reading {
    flex-direction: column;
    align-items: center;
  }

  .reading__content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .reading__current {
    margin: 10px;
    font-size: 1.3rem;
  }

  .box {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .box__image {
    width: 120px;
    align-self: flex-start;
  }

  .reminders {
    width: 100%;
    margin-right: 0;
  }

  .reminders__list {
    padding: 20px;
  }
}
