@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #BBD6E7;

}

/*  HEADER  */
.header {
  padding-top: 24px;
  display: flex;
  align-items: flex-end;
  width: 70%;
  margin: 100px auto 0;
}

.header__title {
  font-size: 2.1rem;
  font-family: "Dela Gothic One", sans-serif;
}

.header__progress {
  padding: 0 0 8px 12px;
  font-family: "Inconsolata", monospace;
  color: black;
}

.header__image {
  position: absolute;
  top: 30px;
  right: 60px;
  width: 120px;
  max-width: 30vw;
  margin: 10px;
  transition: transform 0.3s;
}

.header__image:hover {
  animation: header-move 0.6s infinite ease-in-out alternate;
}

@keyframes header-move {
  from {
    transform: rotate(-7deg);
  }
  to {
    transform: rotate(7deg);
  }
}

/* MAIN */
.main {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 2px 2px 0px;
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
}

/*  HABITS */
.habits {
  padding: 30px 0;
}

.habits__list {
  display: flex;
  flex-direction: column;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 20px 8px 0;
}

.habit__title {

  font-family: "Inconsolata", monospace;
  font-weight: normal;
  padding-right: 10px;
}

.habit__checks {
  display: flex;
  gap: 8px;
  align-items: center;
}

.habit__check {
  background-color: #fff;
  border: 1px solid black;
  box-shadow: 2px 2px 0px;
  width: 85px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
}

.habit__check--done {
  background-color: #5B9BD5;
}

/* THINGS  */
.things {
  width: 70%;
  margin: 10px auto;
}

/* READING  */
.reading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.reading__content {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.reading__image {
  width: 125px;
  height: 190px;
  object-fit: cover;
  border: 1px solid black;
  box-shadow: 2px 2px 0px;
  border-radius: 10px;
  cursor: pointer;
}

.reading__input {
  display: none;
}

.reading__current {
  display: flex;
  flex-direction: column;
}

.reading__button {
  
  all: unset;
  font-family: "Dela Gothic One", sans-serif;
  cursor: pointer;
}

.reading__book-name {
  font-family: "Inconsolata", monospace;
}

/* BOX */
.box {
  display: flex;
  align-items: flex-end;
}

.box__image {
  width: 25%;
}

/*  REMINDERS  */
.reminders {
  background-color: white;
  width: 360px;
  height: 180px;
  margin-right: -28px;
  border: 1px solid black;
  box-shadow: 2px 2px 0px;
  border-radius: 10px;
}

.reminders__actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  font-family: "Dela Gothic One", sans-serif;
}

.reminders__title {
  margin-right: auto;
}

.reminders__button {
  all: unset;
  cursor: pointer;
}

.reminders__list {
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin: 30px auto;
}

.reminders__list p {
  padding: 2px;
}
